.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}
/* .navbar{
    background:#000000;
    margin: 0;
    padding: 20px 30px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
} */
.form-group textarea {
    resize: none;
}
.produk-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produk-section {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.produk-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(248, 248, 248, 0.1);
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.produk-card img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.produk-card h3 {
    margin-top: 15px;
    font-size: 1.5rem;
}

.produk-card button {
    margin-top: auto; 
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produk-card:hover {
    transform: translateY(-10px);
}

.produk-card button:hover {
    background-color: #837474;
}   
.welcome-text h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    
    .welcome-text h2 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    
    .welcome-text .btn-primary {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        font-size: 1.1rem;
        cursor: pointer;
    }
    
   
    .welcome-text .btn-primary:hover {
        background-color: #0056b3;
    }
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css')
